:root {
  --bg-color: #f7fdf9;
  --fg-color: #06190e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #06190e;
    --fg-color: #f7fdf9;
  }
}

::selection {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

body {
  color: var(--fg-color);
	background: var(--bg-color);
  font-size: 20px;
  font-family: monospace, system-ui;
  line-height: 1.6;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  font-weight: 500;
}

.padded {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.all {
  display: flex;
  flex-direction: column;
  gap: 3em;

  max-width: 43ch;
  margin: 0 auto;
  padding: 1em;
}

.title {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;

  max-width: fit-content;

  color: var(--primary);
}

.title h1 > a {
  text-decoration: none;
}

.title > div:nth-child(1) {
  width: 130px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

a {
  color: var(--fg-color);
}

a:hover {
  color: var(--bg-color);
  background-color: var(--fg-color);
  text-decoration: none;
}
