@font-face {
  font-family: "CMU Serif";
  src: url("./fonts/cmu_concrete_serif.otf");
  font-display: swap;
}

:root {
  --bg-color: #f7fdf9;
  --fg-color: #06190e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #06190e;
    --fg-color: #f7fdf9;
  }
}

::selection {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

body {
  color: var(--fg-color);
	background: var(--bg-color);
  font-size: 20px;
  font-family: "CMU Serif", serif, system-ui;
  line-height: 1.6;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

footer {
  font-size: 16px;
}

h1 {
  text-transform: uppercase;
  font-weight: bolder;
}

h2 {
 font-size: 20px;
}

h2.section {
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  font-size: 18px;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

ol {
  list-style: inside;
  list-style-type: decimal;
}

ul {
  list-style: inside;
}

ol li,
ul li {
  margin-top: 1.5em;
}

ol li:first-child,
ul li:first-child {
  margin-top: 0em;
}

ol li:last-child,
ul li:last-child {
  margin-bottom: 2em;
}

a {
  color: var(--fg-color);
}

a[target="_blank"] {
  text-decoration-style: dotted;
}

a:hover {
  color: var(--bg-color);
  background-color: var(--fg-color);
  text-decoration: none;
}

a.no-decoration {
  text-decoration: none;
}

.padded {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.all {
  display: flex;
  flex-direction: column;
  gap: 3em;

  max-width: 65ch;
  margin: 0 auto;
  padding: 2em;

  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: start;
}

.abstract {
  margin: 0 auto;
  max-width: 50ch;
}