<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Felipe Kinoshita</title>

		<meta name="author" content="Felipe Kinoshita" />
		<meta
		name="Description"
		content= "I'm Software Engineer working on open-source software." />
		<meta name="keywords" content="developer, contributor, GNOME, open-source, opensource, foss, math" />

		<meta property="og:type" content="website" />
		<meta
		property="og:title"
		content="Felipe Kinoshita" />
		<meta
		property="og:description"
		content= "I'm Software Engineer working on open-source software." />

		<link rel="preload" href="{{ .Site.BaseURL }}font/cmu-serif-roman-latin.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

		<link rel="icon" href="/favicon.svg">
	</head>
	<body>
		<div class="content">
