@font-face {
	font-family: "CMU Serif";
	font-style: normal;
	font-weight: 400;
	src: local("CMU Serif Roman"), local("CMUSerif-Roman"), url('/font/cmu-serif-roman-latin.woff2') format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: swap;
}

:root {
  --bg-color: #f7fdf9;
  --fg-color: #06190e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #06190e;
    --fg-color: #f7fdf9;
  }
}

::selection {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

body {
  color: var(--fg-color);
	background: var(--bg-color);
  font-size: 20px;
  font-family: "CMU Serif", serif, system-ui;
  line-height: 1.6;
}

h1, h2, h3 {
  margin-top: 3em;
  margin-bottom: 0.5em;
}

h1 {
  margin-top: 5em;
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

sup {
  vertical-align: super;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

header h1,
header h2,
header h3 {
  margin-bottom: unset;
}

header h2,
header h3 {
  margin-top: unset;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

ol {
  list-style: inside;
  list-style-type: decimal;
}

ul {
  list-style: inside;
}

ol li,
ul li {
  margin-top: 1.5em;
}

ol li:first-child,
ul li:first-child {
  margin-top: 0em;
}

ol li:last-child,
ul li:last-child {
  margin-bottom: 2em;
}

a {
  color: var(--fg-color);
}

a[target="_blank"] {
  text-decoration-style: dotted;
}

a:hover {
  color: var(--bg-color);
  background-color: var(--fg-color);
  text-decoration: none;
}

a.no-decoration {
  text-decoration: none;
}

table {
  width: fit-content;

  font-size: 12pt;
  border-collapse: collapse;
}

table tbody tr {
  text-align: center;
}

table caption {
  padding: 0.5em;
}

table th,
table td {
  padding-inline: 1em;
}

table th {
  border-bottom: 1px solid var(--fg-color);
}

.padded {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.all {
  display: flex;
  flex-direction: column;
  gap: 3em;

  max-width: 60ch;
  margin: 0 auto;
  margin-bottom: 8em;
  padding: 2em;

  text-align: start;
}

.bold {
  font-weight: 700;
}

.centered {
  text-align: center;
}
