@font-face {
	font-family: "CMU Serif Roman";
	font-style: normal;
	font-weight: 400;
	src: local("CMU Serif Roman"), local("CMUSerif-Roman"), url('/font/cmu-serif-roman-latin.woff2') format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: swap;
}

:root {
  --bg-color: #fafafa;
  --fg-color: #06190e;

  --link-color: #1a5fb4;
  --link-underline: #99c1f1;
  --link-visited-color: #613583;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #06190e;
    --fg-color: #fafafa;
    --link-color: #99c1f1;
    --link-underline: #1a5fb4;
    --link-visited-color: #9141ac;
  }
}

::selection {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

body {
  color: var(--fg-color);
  background: var(--bg-color);
  font-family: 'CMU Serif Roman', sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

h1, h2, h3 {
  margin-top: 2.5em;
  max-width: 2em;
}

h1 {
  font-size: 4em;
  font-style: italic;
  line-height: 1;
}

@media (min-width: 700px) {
  h1 {
    font-size: 3.5em;
  }
}

ol, ul {
  margin-bottom: 4em;
}

li + li {
  margin-top: 1em;
}

table {
  width: fit-content;
  margin: 2em auto;

  font-size: 18px;
  border-collapse: collapse;
}

table tbody tr {
  text-align: center;
}

table caption {
  padding: 0.5em;
}

table th,
table td {
  padding-inline: 1em;
}

table th {
  border-bottom: 1px solid var(--fg-color);
}

main {
  margin-top: 3em;
}

.content {
  max-width: 40ch;
  padding: 0 2em;
}

footer {
  max-width: 30ch;
}

a {
  color: var(--link-color);
  text-decoration-color: var(--link-underline);
}

a[target="_blank"] {
  text-decoration-style: dotted;
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  color: var(--bg-color);
  background-color: var(--fg-color);
  text-decoration-color: var(--fg-color);
}

.date {
  display: block;

  margin-top: -1.5em;

  font-size: 1em;
}
