{{ partial "head.html" . }}

  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ul>
      {{- range .Ancestors.Reverse }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{- end }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    </ul>
  </nav>

  <header id="top">
    <h1>{{ .Title }}</h1>
    {{ if (eq .Pages.Len 0)}}
      <span>Last Updated on {{ .Lastmod | time.Format "January 2, 2006" }}.</span>
    {{ end }}
  </header>

  <main>
    {{ block "main" . }}
    {{ end }}
  </main>

  {{ if (eq .Pages.Len 0)}}
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  {{ end }}

{{ partial "foot.html" . }}
